
body{
    text-decoration-color: rgb(22, 22, 22);
    text-align: center;
    text-shadow: 2px 2px 8px rgb(247, 243, 243);


    background-image: url("img/hack club.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: rgba(8, 8, 8, 0.644);
}
nav{
    width: 100vw;
}
ul{
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
li{
    list-style-type: none;
    height: 85px;
    width: 120px;
    overflow: hidden;
}
li>span{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

li>span:nth-child(1){
    color: #1abc9c;
    background-color: rgba(255, 255, 255,0.05);
    font-size: 32px;
}
li>span:nth-child(2){
    color: #1abc9c;
}
li:hover span{
    transform: translateY(-100%);
}
a{
    color: white;
    text-decoration: none;
    font-family:"poppins", sans-serif;
    font-size: 18px;
}